header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
}
header h1 a {
  color: var(--main-text);
  font-size: 1.5rem;
  font-weight: 500;
}

header .hamburger-btn {
  display: none;
}
.nav-mobile {
  display: none;
}

/* NavList */
header nav ul {
  list-style: none;
}
header nav ul .line {
  border: 0px solid var(--light-text);
  position: absolute;
  left: 10px;
  width: 0px;
  transition: all 0.5s ease-in;
}
header nav ul li:hover .line {
  border: 1px solid var(--light-text);
  width: calc(100% - 20px);
}
header nav ul li {
  position: relative;
  display: inline;
  padding: 10px;
  font-weight: bold;
  color: var(--main-text);
}

/* Login Button */
header .login {
  transform: translatex(-50px);
}

/* Media Query */
@media screen and (max-width: 850px) {
  header .logo-name {
    display: none;
  }
  header .hamburger-btn {
    cursor: pointer;
    display: inline;
  }
  header .hamburger-btn .hamburger {
    position: relative;
    width: 30px;
    height: 3px;
    background: var(--more-light-text);
    box-shadow: 0 2px 2px #0004;
    border-radius: 1px;
    transition: all 500ms ease-out;
  }
  header .hamburger-btn .hamburger::before,
  header .hamburger-btn .hamburger::after {
    content: "";
    position: absolute;
    width: 30px !important;
    height: 3px !important;
    background: var(--more-light-text);
    box-shadow: 0 2px 2px #0004;
    border-radius: 1px;
    transition: all 500ms ease-out;
  }
  header .hamburger-btn .hamburger::before {
    transform: translateY(-10px);
  }
  header .hamburger-btn .hamburger::after {
    transform: translateY(10px);
  }
  header .hamburger-btn.open .hamburger {
    background: transparent;
    box-shadow: none;
  }
  header .hamburger-btn.open .hamburger::before {
    transform: rotate(45deg);
  }
  header .hamburger-btn.open .hamburger::after {
    transform: rotate(-45deg);
  }
  header {
    padding: 20px 20px 5px 20px;
  }
  header nav {
    display: none;
  }
  header .login {
    transform: translatex(0px);
    margin-right: -15px;
  }
  .btn {
    width: 100px;
    margin-right: 10px !important;
  }
  .nav-mobile {
    position: absolute;
    display: flex;
    padding: 10px;
    padding-top: 20px;
    width: 40vw;
    height: 100vh;
    transition: all 500ms ease-out;
    transform: translateX(-500px);
    flex-direction: column;
    background: rgb(236, 236, 236);
    box-shadow: 9px 9px 16px rgb(163, 177, 198, 0.6),
      -9px -9px 16px rgba(255, 255, 255, 0.5);
    z-index: 1000;
  }
  .nav-mobile.open {
    transform: translateX(0);
    transition: all 500ms ease-out;
  }
  .nav-mobile.open .blur-background {
    height: 100vh;
    width: 60vw;
    position: absolute;
    top: 0;
    right: 0;
    background: var(--background);
    transform: translateX(60vw);
    opacity: 0.7;
    transition: all 500ms ease-out;
  }
  .nav-mobile .blur-background {
    transform: translateX(200vw);
  }
  .nav-mobile .nav-item {
    padding: 7px;
    font-weight: bold;
    color: var(--light-text);
  }
  .nav-mobile .close {
    cursor: pointer;
    width: 100%;
    list-style: none;
    position: relative;
  }
  .nav-mobile .close svg {
    width: 30px;
    height: 30px;
    float: right;
    margin-bottom: 20px;
  }
  .nav-mobile .nav-item a {
    color: var(--main-text);
    font-size: 1.2rem;
    font-weight: 500;
  }
}
